/ServiceFabric.Logger/bin
/ServiceFabric.Logger/obj
/packages
/AppService.Logger/obj
/AppService.Logger/bin
/Logger.Foundation/obj
/Logger.Foundation/bin
/ServiceFabricLog/obj
/ServiceFabricLog/bin
/sflogservice/obj
/sflogservice/bin
*.cache
*.dll
*.exe
*.force
*.pdb
obj
bin
