/ServiceFabric.Logger/bin
/ServiceFabric.Logger/obj
/packages
/AppService.Logger/obj
/AppService.Logger/bin
/Logger.Foundation/obj
/Logger.Foundation/bin
/ServiceFabricLog/obj
/ServiceFabricLog/bin
/sflogservice/obj
/sflogservice/bin
*.cache
*.dll
*.exe
*.force
*.pdb
obj
bin
/ServiceFabricLog/pkg
/ServiceFabricLog/pkg/Debug/ApplicationManifest.xml
/ServiceFabricLog/pkg/Debug/sflogservicePkg/Config/Settings.xml
/ServiceFabricLog/pkg/Debug/sflogservicePkg/ServiceManifest.xml
/.vs
/Logger.SFandAS.sln.DotSettings.user
/Logger.sln.DotSettings.user
/ServiceFabric.Logger.sln.DotSettings.user
